html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #1d2021;
    color: #fbf1c7;
}

.content {
    margin: 0 auto;
    width: 80%;
    min-height: calc(100% - 0.5in - 0.1in - 2%);
}

@media (max-width: 600px) {
    .content {
        width: auto;
        margin: 0 12px;
    }
}

.logo {
    width: 1in;
    filter: invert(87%) sepia(18%) saturate(456%) hue-rotate(349deg) brightness(109%) contrast(97%);
}

.header {
    display: block;
    height: 0.5in;
    padding: 0.1in;
    background: #32302f;
}

.header a {
    padding-right: 0.25in;
    text-decoration: none;
    color: #fbf1c7;
}

.gpg {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    white-space: break-spaces;
    font-family: monospace;
}