html {
  background-image: url("/assets/img/bg.gif");
  background-repeat: repeat;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  outline: 0;
  color: #d48600;
}
blockquote {
  font-size: 80%;
  margin-left: 2px;
  padding-left: 2px;
  border-left: 2px solid #c55;
}
#navbar {
  background-color: #eddcb0;
  height: 30px;
  border-bottom: 5px solid #c55;
}
#navbar > .name {
  display: inline;
}
#navbar > .name > .first {
  display: inline;
  color: #f75000;
}
#navbar > .name > .last {
  display: inline;
  color: #000;
}
#navbar > .pages {
  display: inline;
  padding-left: 20px;
}
#navbar > .pages > a {
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}
.center_msg {
  position: absolute;
  left: 50%;
  top: 50%;
}
.center_msg > .msg {
  position: relative;
  left: -50%;
  margin-top: -25%;
  background: #ddd;
  padding: 20px;
}
#content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 900px;
  background: rgba(234,224,189,0.733);
  color: #430;
}
#footer {
  float: right;
  margin-right: 20px;
}
.pokemon {
  display: inline;
}
.pokemon > img {
  width: 200px;
}
